<h1> ABBA Simulation</h1>
<p>It shows how to execute MESA version of ABBA. Minimum MESA version is 0.8.5.</p>

In [ ]:
from banksim.model import BankSim
from banksim.agent.bank import Bank
from banksim.agent.saver import Saver
from banksim.agent.loan import Loan

In [2]:
# Initialization
model = BankSim(initial_saver=10000, 
                  initial_bank=10, 
                  initial_loan=20000, 
                  initial_equity=100,
                  rfree=0.01, # Risk free rate
                  car=0.08 # Minimum regulatory capital adequacy ratio
                 )

In [3]:
# Bank status 
for x in [x for x in model.schedule.agents if isinstance(x, Bank)]:
    print("Bank{0:1d} - Reserve: {1:5.0f}, Equity: {2:5.0f}, Deposit: {3:5.0f}, Reserve_ratio: {4:5.3f}".format(x.pos, x.bank_reserves, x.equity, x.bank_deposits, x.reserves_ratio))

Bank0 - Reserve:    45, Equity:   100, Deposit:  1001, Reserve_ratio: 0.045
Bank1 - Reserve:    43, Equity:   100, Deposit:   977, Reserve_ratio: 0.044
Bank2 - Reserve:    44, Equity:   100, Deposit:   979, Reserve_ratio: 0.045
Bank3 - Reserve:    44, Equity:   100, Deposit:   987, Reserve_ratio: 0.045
Bank4 - Reserve:    45, Equity:   100, Deposit:  1009, Reserve_ratio: 0.045
Bank5 - Reserve:    44, Equity:   100, Deposit:   986, Reserve_ratio: 0.045
Bank6 - Reserve:    45, Equity:   100, Deposit:  1008, Reserve_ratio: 0.045
Bank7 - Reserve:    43, Equity:   100, Deposit:   970, Reserve_ratio: 0.044
Bank8 - Reserve:    46, Equity:   100, Deposit:  1028, Reserve_ratio: 0.045
Bank9 - Reserve:    47, Equity:   100, Deposit:  1055, Reserve_ratio: 0.045

In [4]:
# Run simulation
[res_bank, res_ibloan] = model.run_model(step_count = 200)

 STEP0 - # of sovent bank: 10
 STEP10 - # of sovent bank: 10
 STEP20 - # of sovent bank: 10
 STEP30 - # of sovent bank: 10
 STEP40 - # of sovent bank: 10
 STEP50 - # of sovent bank: 10
 STEP60 - # of sovent bank: 10
 STEP70 - # of sovent bank: 10
 STEP80 - # of sovent bank: 10
 STEP90 - # of sovent bank: 10
 STEP100 - # of sovent bank: 10
 STEP110 - # of sovent bank: 10
 STEP120 - # of sovent bank: 10
 STEP130 - # of sovent bank: 10
 STEP140 - # of sovent bank: 10
 STEP150 - # of sovent bank: 10
 STEP160 - # of sovent bank: 10
 STEP170 - # of sovent bank: 10
 STEP180 - # of sovent bank: 10
 STEP190 - # of sovent bank: 10
 STEP199 - # of sovent bank: 10

In [5]:
res_bank.head()

,car,minReservesRatio,capitalRatio,reservesRatio,leverageRatio,upperReservesRatio,bufferReservesRatio,bankDividend,bankCumDividend,bankLoans,bankReserves,bankDeposits,equity,totalAssets,rwassets,creditFailure,liquidityFailure
0,0.08,0.03,0.112145,0.070821,0.083169,0.12,1.5,22.966277,22.966277,1046,72.804,1028,90.804,1118.804,809.70,False,False
1,0.08,0.03,0.111373,0.054707,0.082626,0.12,1.5,19.740081,19.740081,1021,53.996,987,87.996,1074.996,790.10,False,False
2,0.08,0.03,0.112282,0.055294,0.083064,0.12,1.5,22.784675,22.784675,1023,54.686,989,88.686,1077.686,789.85,False,False
3,0.08,0.03,0.114148,0.037307,0.084860,0.12,1.5,28.271578,28.271578,1034,36.524,979,91.524,1070.524,801.80,False,False
4,0.08,0.03,0.108667,0.042076,0.081296,0.12,1.5,9.827857,9.827857,1052,42.286,1005,89.286,1094.286,821.65,False,False

In [6]:
res_ibloan.head()

   ibCreditor  ibDebtor  ibAmount
0           1         9  4.866660
1           2         9  5.099322
2           3         9  2.181068
3           4         9  2.122993
4           5         9  1.022115